<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        button.btn{
        padding: 10px 20px;
        border-radius: 10px;
        font-family:sans-serif;
        font-size: 19px;
        color:#FFFFFF;
        margin: 20px;
        background-color:#4eb5f1;
        text-align:center;
        }
    </style>
    <title>BeaverHacks Solar Photovoltaic Resource Utilization Calculator</title>
</head>
<body>
<div class="container">
    <h1 style="font-family:sans-serif; font-size:300%; text-align:center;">Welcome to BeaverHacks Solar PV Calculator</h1>
    <h2 style="font-family:sans-serif; font-size:150%; text-align:center;">Please enter the location where you will be generating solar power:</h2>

    <form style="margin :50px;" method="post">
        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label>Please enter your GPS Latitude</label>
            <input type="number" step="any" name="latitude"
                   placeholder="xxx.xxxx" class="form-control"
                   value="{{ request.form['latitude'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label>Please enter your GPS Longitude (West is negative)</label>
            <input type="number" step="any" name="longitude"
                   placeholder="-xxx.xxxx" class="form-control"
                   value="{{ request.form['longitude'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter your start date</label>
            <input type="text" name="startdate" placeholder="mm/dd/hh"
                    class="form-control" value="{{ request.form['startdate'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter your end date</label>
            <input type="text" name="enddate" placeholder="mm/dd/hh"
                    class="form-control" value="{{ request.form['enddate'] }}">
        </div>

        <div style = "text-align: center;" class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
<div style="font-family:sans-serif; font-size:120%; text-align:center;" class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
</div>
</body>
</html>
