<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        button.btn{
        padding: 10px 20px;
        border-radius: 10px;
        font-family:sans-serif;
        font-size: 19px;
        color:#FFFFFF;
        margin: 20px;
        background-color:#4eb5f1;
        text-align:center;
        }
    </style>
    <title>BeaverHacks Solar Photovoltaic Resource Utilization Calculator</title>
</head>
<body>
<div class="container">
    <h1 style="font-family:sans-serif; font-size:300%; text-align:center;">Welcome to BeaverHacks Solar PV Calculator</h1>
    <h2 style="font-family:sans-serif; font-size:150%; text-align:center;">Please add your electric equipment and battery type/capacity:</h2>

    <form style="margin :50px;" method="post">
        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label>Please enter daily water consumption</label>
            <input type="text" name="water" placeholder="gallons/day" class="form-control"
                   value="{{ request.form['water'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label>Please enter furnace fan/control power</label>
            <input type="text" name="fan"
                   placeholder="Watts" class="form-control"
                   value="{{ request.form['fan'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter lighting power</label>
            <input type="text" name="lighting" placeholder="Watts"
                   class="form-control" value="{{ request.form['lighting'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter average daytime plug load</label>
            <input type="text" name="plug_load" placeholder="Watts"
                   class="form-control" value="{{ request.form['plug_load'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter refrigeration type (DC, AC, LP)</label>
            <input type="text" name="refrig" placeholder="type"
                   class="form-control" value="{{ request.form['refrig'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter battery type (LI, PB)</label>
            <input type="text" name="batt_type" placeholder="type"
                   class="form-control" value="{{ request.form['batt_type'] }}">
        </div>

        <div style="font-family:sans-serif; font-size:120%; text-align:center;" class="form-group">
            <label >Please enter battery Wh capacity</label>
            <input type="text" name="batt_cap" placeholder="Wh"
                   class="form-control" value="{{ request.form['batt_cap'] }}">
        </div>

        <div style="text-align: center;" class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
<div style="font-family:sans-serif; font-size:120%; text-align:center;" class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
</div>
</body>
</html>
