<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        button.btn{
        padding: 10px 20px;
        border-radius: 10px;
        font-family:sans-serif;
        font-size: 19px;
        color:#FFFFFF;
        margin: 20px;
        background-color:#4eb5f1;
        text-align:center;
        }
    </style>
    <title>BeaverHacks Solar Photovoltaic Resource Utilization Calculator</title>
</head>
<body>
<div class="container">
    <h1 style="font-family:sans-serif; font-size:300%; text-align:center;">Welcome to BeaverHacks Solar PV Calculator</h1>
    <h2 style="font-family:sans-serif; font-size:150%; text-align:center;">Here is the result of your solar analysis:</h2>

    <img src="{{ url_for('static', filename='img/charge_plot.png') }}", alt="Battery Charge Graph">

</div>
</body>
</html>