<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        button.btn{
        padding: 10px 20px;
        border-radius: 10px;
        font-family:sans-serif;
        font-size: 19px;
        color:#FFFFFF;
        margin: 20px;
        background-color:#4eb5f1;
        text-align:center;
        }
    </style>
    <title>BeaverHacks Solar Photovoltaic Resource Utilization Calculator</title>
</head>
<body>
<div class="container">
    <h1 style="font-family:sans-serif; font-size:300%; text-align:center;">Welcome to BeaverHacks Solar PV Calculator</h1>
    <h2 style="font-family:sans-serif; font-size:150%; text-align:center;">Here is the solar resource available at your location:</h2>
    
    <form method="post">
        <div class="form-group">
            <label style="font-family:sans-serif; font-size:120%; text-align:center;">Press to continue</label>
            <input type="text" name="nextpage"
                   class="form-control" value="{{ request.form['nextpage'] }}">
        </div>

        <div style = "text-align: center;" class="form-group">
            <button type="submit" class="btn btn-primary">Continue</button>
        </div>
    </form>
</div>
</body>
</html>
