<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BeaverHacks Solar Photovoltaic Resource Utilization Calculator</title>
</head>
<body>
<div class="container">
    <h1>Welcome to BeaverHacks Solar PV Calculator</h1>
    <h2>Here is the solar resource available at your location:</h2>

    <p>Hour   W/m^2</p>

    <ol style="list-style-type:decimal">
        {% for item in list1 %}
            <li>{{item}}</li>
        {% endfor %}
    </ol>

    <form method="post">
        <input type="submit" name="continue" value="Continue">

    </form>
</div>
</body>
</html>